@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #242d52;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a:hover, a:focus {
  color: #9095a7;
}

p {
  line-height: 2;
  color: #9095a7;
}

.btn {
  background-color: #f25f3a;
  color: #fafafa;
  padding: 1em 2em;
  border-radius: 200px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover, .btn:focus {
  opacity: 0.8;
  color: #fafafa;
}

ul {
  list-style-type: none;
}

section {
  padding: 6rem 0;
}

.hero-title,
.section-title,
.difference-list-title {
  color: #242d52;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

header {
  padding: 2em 0;
}

header .nav-items,
header .btn {
  display: none;
}

header .logo {
  margin-top: 10px;
  min-width: 100px;
}

@media (min-width: 920px) {
  header .nav-items,
  header .btn {
    display: block;
  }
  header .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-items li {
    padding: 0 1em;
  }
  header .menu-btn {
    display: none;
  }
}

.hero {
  padding: 0;
  margin-bottom: 2rem;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-illustraton {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.hero-text {
  padding-top: 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hero-text p {
  margin-bottom: 3em;
}

@media (min-width: 520px) {
  .hero .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-illustraton {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 45%;
  }
  .hero-text {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 45%;
  }
}

.difference {
  padding: 0;
}

.difference-intro {
  margin-bottom: 2em;
}

.difference-item {
  padding: 1em 0;
  counter-increment: item;
}

.difference-item-title {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1em;
  background-color: #ffefeb;
  padding: 8px 0;
  border-radius: 100px;
  margin-right: -500px;
}

.difference-item-title::before {
  content: "0" counter(item);
  background-color: #f25f3a;
  padding: 5px 20px;
  border-radius: 100px;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  margin-right: 0.5em;
}

@media (min-width: 520px) {
  .difference .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .difference-intro {
    width: 45%;
  }
  .difference-items {
    width: 45%;
  }
  .difference-item-title {
    background-color: #fff;
  }
  .difference p {
    text-align: left;
  }
}

.testimonial-items {
  margin-bottom: 2em;
}

.testimonial-item {
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
}

.testimonial-item img {
  width: 100px;
}

.testimonial-item h3 {
  margin: 1em 0;
  color: #242d52;
}

.call-to-action {
  background-color: #f25f3a;
  color: #fff;
  padding-bottom: 4em;
}

.call-to-action h2 {
  margin-bottom: 2em;
  font-size: 2.5rem;
}

.call-to-action .btn {
  background-color: #fff;
  color: #f25f3a;
}

.footer {
  background-color: #1d1e25;
  padding: 3rem 0;
}

.footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .logo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 2em;
}

.footer a {
  color: #9095a7;
  padding-bottom: 1em;
}

.footer a:hover {
  color: #f25f3a;
}

.footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer button {
  outline: none;
  border: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  width: 25%;
}

.footer input {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  width: 70%;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 2em;
}

.footer-social-links .social-icon {
  height: 2rem;
  width: 2rem;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 2rem;
}

.footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.footer-links ul:first-child {
  width: 45%;
}

.footer-links ul:last-child {
  width: 45%;
}

.footer-links ul li {
  padding: 0.5em 0;
}

.footer-subscription {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.footer .copyrights {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
