@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  transition: 0.5s ease-in-out;

  &:hover, &:focus {
      color: hsl(227, 12%, 61%);
  }
}

p {
  line-height: 2;
  color: $dark-grayish-blue;
}

.btn {
  background-color:$bright-red;
  color: hsl(0, 0%, 98%);
  padding: 1em 2em;
  border-radius: 200px;
  cursor: pointer;
  font-weight: bold;

  &:hover, &:focus {
      opacity: 0.8;
      color: hsl(0, 0%, 98%);
  }
}

ul {
  list-style-type: none;
}

section {
  padding: 6rem 0;
}

// Typography
.hero-title,
.section-title,
.difference-list-title {
  color: $dark-blue;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

// Header section
header {
  padding: 2em 0;

  .nav-items,
  .btn {
    display: none;
  }

  .logo {
    margin-top: 10px;
    min-width: 100px;
  }
}

@media (min-width: 920px) {
  header {
    .nav-items,
    .btn {
      display: block;
    }

    .nav-items {
      display: flex;

      li {
        padding: 0 1em;
      }
    }

    .menu-btn {
      display: none;
    }
  }
}

// Hero section
.hero {
  padding: 0;
  margin-bottom: 2rem;

  .container {
    display: flex;
    flex-direction: column;
  }

  &-illustraton {
    order:0;
  }

  &-text {
    padding-top: 2rem;
    order: 1;
    
    p {
      margin-bottom: 3em;
    }
  }
}

@media (min-width: 520px) {
  .hero {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    &-illustraton {
      order: 1;
      width: 45%;
    }

    &-text {
      order: 0;
      width: 45%;
    }
  }
}

// Differences section
.difference {
  padding: 0;

  &-intro {
    margin-bottom: 2em;
  }

  &-item {
    padding: 1em 0;
    counter-increment: item;

    &-title {
      margin-bottom: 20px;
      text-align: left;
      font-size: 1em;
      background-color: $very-pale-red;
      padding: 8px 0;
      border-radius: 100px;
      margin-right: -500px;

      &::before {
        content: '0'counter(item);
        background-color: $bright-red;
        padding:  5px 20px;
        border-radius: 100px;
        font-size: 1rem;
        color: #fff;
        text-align: left;
        margin-right: 0.5em;
      }
    }
  }
}

@media (min-width:520px) {
  .difference {

    .container {
      display: flex;
      justify-content: space-between;
    }

    &-intro {
      width: 45%;
    }

    &-items {
      width: 45%;
    }

    &-item-title {
      background-color: #fff;
    }
    
    p {
      text-align: left;
    }
  }
}

// Testimonials section
.testimonials {
  h2 {
    margin-bottom: 8rem;
  }
}


.testimonial-items {
  margin-bottom: 4rem;
}

.testimonial-item {
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
  background-color: $very-light-gray;
  padding: 2rem 2rem 0 2rem;

  & > * {
    position: relative;
    transform: translateY(-90px);
  }

  img {
    width: 100px;
  }

  h3 {
    margin: 1em 0;
    color: $dark-blue;
  }
}

@media (min-width:520px) {
  .testimonial-items {
    display: flex;
    justify-content: space-between;
  }

  .testimonial-item {
    width: 20%;

    p {
      text-align: center;
    }
  }
}

// Call to action
.call-to-action {
  background-color: $bright-red;
  color: #fff;
  padding-bottom: 4em;

  h2 {
    margin-bottom: 2em;
    font-size: 2.5rem;
  }

  .btn {
    background-color: #fff;
    color: $bright-red;
  }
}

// footer
.footer {
  background-color: $very-dark-blue;
  padding: 3rem 0;

  .footer-contents {
    display: flex;
    flex-direction: column;
  }

  .logo {
    order: 3;
    margin-bottom: 2em;
  }

  a {
    color: $dark-grayish-blue;
    padding-bottom: 1em;

    &:hover {
        color: hsl(12, 88%, 59%);
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    outline: none;
    border: 0;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    width: 25%;
  }

  input {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      outline: none;
      font-family: inherit;
      font-size: 1rem;
      width: 70%;
  }

  &-social-links {
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-bottom: 2em;

    .social-icon {
      height: 2rem;
      width: 2rem;
    }
  }

  &-links {
    display: flex;
    order: 1;
    padding: 2rem;
    
    ul {
      display: flex;
      flex-direction: column;
      text-align: left;

      &:first-child {
        width: 45%;
      }

      &:last-child {
        width: 45%;
      }

      li {
        padding: 0.5em 0;
      }
    }
  }

  &-subscription {
    order: 0;
  }

  .copyrights {
    order: 4;
  }
}

// Media Queries
@media (min-width: 410px) {
  
}